@import "tailwindcss";
@plugin "daisyui" {
  themes: pelicanwinter --default;
}
@plugin "daisyui/theme" {
  name: "pelicanwinter";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97.466% 0.011 259.822);
  --color-base-300: oklch(93.268% 0.016 262.751);
  --color-base-content: oklch(41.886% 0.053 255.824);
  --color-primary: oklch(56.86% 0.255 257.57);
  --color-primary-content: oklch(91.372% 0.051 257.57);
  --color-secondary: #304269;
  --color-secondary-content: oklch(88.51% 0.032 282.339);
  --color-accent: oklch(73.375% 0.165 35.353);
  --color-accent-content: oklch(14.675% 0.033 35.353);
  --color-neutral: oklch(19.616% 0.063 257.651);
  --color-neutral-content: oklch(83.923% 0.012 257.651);
  --color-info: oklch(88.127% 0.085 214.515);
  --color-info-content: oklch(17.625% 0.017 214.515);
  --color-success: oklch(80.494% 0.077 197.823);
  --color-success-content: oklch(16.098% 0.015 197.823);
  --color-warning: oklch(89.172% 0.045 71.47);
  --color-warning-content: oklch(17.834% 0.009 71.47);
  --color-error: oklch(73.092% 0.11 20.076);
  --color-error-content: oklch(14.618% 0.022 20.076);
  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

h2,
h3,
h4,
h6 {
  @apply font-bold;
}
h5 {
  @apply font-bold;
}
h1 {
  @apply text-5xl font-black lg:text-6xl;
}
h2 {
  @apply text-4xl lg:text-5xl;
}
h3 {
  @apply text-2xl lg:text-3xl;
}
h4 {
  @apply text-lg lg:text-xl;
}
.dotted-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 4px 4px;
}

/* Animation classes */
.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 25s linear infinite;
}

/* Keyframes */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
